<a href="https://colab.research.google.com/github/AndresUsecheFH/Python-Colab/blob/main/Visualizacion_base_de_datos_proyecto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#requiere cargar el archivo "CuradaenOP-BasedeDatos.xlsx" a Colab
import pandas as pd
data = pd.read_excel('/content/CuradaenOP-BasedeDatos.xlsx')

print(data.head(5))

/usr/local/lib/python3.9/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

          order_id  order_date   ship_date       ship_mode    customer_name  \
0     AG-2011-2040  2011-01-01  2011-06-01  Standard Class  Toby Braunhardt
1    IN-2011-47883  2011-01-01  2011-08-01  Standard Class      Joseph Holt
2     HU-2011-1220  2011-01-01  2011-05-01    Second Class    Annie Thurman
3  IT-2011-3647632  2011-01-01  2011-05-01    Second Class     Eugene Moren
4     CA-2011-1510  2011-01-01  2011-08-01  Standard Class      Joseph Holt

       segment            state    country  market   region  ...  \
0     Consumer      Constantine    Algeria  Africa   Africa  ...
1     Consumer  New South Wales  Australia    APAC  Oceania  ...
2     Consumer         Budapest    Hungary    EMEA     EMEA  ...
3  Home Office        Stockholm     Sweden      EU    North  ...
4     Consumer  New South Wales  Australia    APAC  Oceania  ...

   product_name2 Unit Price quantity   discount shipping_cost  order_priority  \
0           Blue        211        2  0,0000000         35,46          Medium
1     High Speed        129        3  0,1000000          9,72          Medium
2   Single Width        128        4  0,0000000          8,17            High
3        Premium        177        3  0,5000000          4,82            High
4       Duo Pack        222        5  0,1000000           4,7          Medium

   sales  expenses revenue  year
0    422  397,9902  457,46  2011
1    387  311,4774  358,02  2011
2    512  452,5479  520,17  2011
3    531  235,1784  270,32  2011
4   1110   873,219  1003,7  2014

[5 rows x 24 columns]

In [ ]:
#Calcular el tamaño del dataset original
print("El tamaño del dataset original es: ", data.shape)

El tamaño del dataset original es:  (51053, 24)

In [ ]:
#Identificar las variables del dataset
print("Las variables del dataset son: \n", data.columns)

Las variables del dataset son:
 Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'product_name2',
       'Unit Price', 'quantity', 'discount', 'shipping_cost', 'order_priority',
       'sales', 'expenses', 'revenue', 'year'],
      dtype='object')

In [ ]:
#Contar el número de registros del dataset
print("El dataset tiene n registos: ", len(data))

El dataset tiene n registos:  51053

In [ ]:
#Contar cuantos registros tengo repetidos y fusionarlos en uno solo
print("Tamaño del dataset original: ", data.shape)
data = data.drop_duplicates(keep='first', inplace=False)
print("Tamaño del dataset sin duplicados: ", data.shape)

Tamaño del dataset original:  (51053, 24)
Tamaño del dataset sin duplicados:  (51033, 24)

In [ ]:
#Verificar el número de campos vacios
cantidad_nulos = data.isnull().sum()  # conteo de los nulos
print("Cantidad de campos vacios en cada columna: \n", cantidad_nulos)

Cantidad de campos vacios en cada columna:
 order_id             0
order_date           0
ship_date            0
ship_mode            0
customer_name        0
segment              0
state                0
country              0
market               0
region               0
product_id           0
category             0
sub_category         0
product_name         0
product_name2     7742
Unit Price           0
quantity             0
discount             0
shipping_cost        0
order_priority       0
sales                0
expenses             0
revenue              0
year                 0
dtype: int64

In [ ]:
#Calcular el porcentaje de campos vacios por columna
cantidad_registros = data.shape[0]
print("Cantidad de registros: ", data.shape[0])
Porcentaje = cantidad_nulos/cantidad_registros*100
print("Porcentaje de campos vacios por columna: \n", Porcentaje)

Cantidad de registros:  51033
Porcentaje de campos vacios por columna:
 order_id           0.000000
order_date         0.000000
ship_date          0.000000
ship_mode          0.000000
customer_name      0.000000
segment            0.000000
state              0.000000
country            0.000000
market             0.000000
region             0.000000
product_id         0.000000
category           0.000000
sub_category       0.000000
product_name       0.000000
product_name2     15.170576
Unit Price         0.000000
quantity           0.000000
discount           0.000000
shipping_cost      0.000000
order_priority     0.000000
sales              0.000000
expenses           0.000000
revenue            0.000000
year               0.000000
dtype: float64

In [ ]:
#Calcular la cantidad de columnas del dataset
print("Cantidad de Columnas: ", len(data.columns))

Cantidad de Columnas:  24

In [ ]:
#Definir la cantidad de columnas en las que se espera existan valores NO-nulos para no tener que borrar el registro
rango = len(data.columns)*0.90

print("Mantener los registros con al menos n valores NO-nulos: ", int(rango))

Mantener los registros con al menos n valores NO-nulos:  21

In [ ]:
#Mantener los registros con al menos un %rango de NO-nulos
data.dropna(thresh = rango, axis = 0, inplace = True)
print("Tamano del dataset curado: ", data.shape)

Tamano del dataset curado:  (51033, 24)

In [ ]:
numeric = data._get_numeric_data()
print("El tamaño del dataset unicamente con variables numéricas es: ", numeric.shape)

El tamaño del dataset unicamente con variables numéricas es:  (51033, 4)

In [ ]:
#OPCION 1. Extraer manualmente las variables numéricas
from matplotlib import pyplot as plt
boxplot = data.boxplot(column=["Unit Price", "quantity", "discount"], return_type='both', figsize=(10,10))
plt.show()

NameError: ignored